<mat-toolbar
  >My Marvel Heroes App
  <div class="icons">
    <a class="iconsedit" routerLink="">
      <span class="material-symbols-outlined"> home </span>
      <span> Home </span>
    </a>

    <a  class="iconsedit" routerLink="./register">
      <span class="material-symbols-outlined"> app_registration </span>
      <span> Register </span>
    </a>

    <a class="iconsedit" routerLink="./login">
      <span class="material-symbols-outlined"> login </span>
      <span> Login </span>
    </a>

    <a class="iconsedit" (click)="logout()">
      <span class="material-symbols-outlined"> logout </span>
      <span> Logout </span>
    </a>
  </div>
</mat-toolbar>
