<mat-toolbar
  >My Marvel Heroes App
  <div class="icons">
    <a href="/" class="iconsedit">
      <span class="material-symbols-outlined"> home </span>
      <span> Home </span>
    </a>

    <a href="/register" class="iconsedit">
      <span class="material-symbols-outlined"> app_registration </span>
      <span> Register </span>
    </a>

    <a href="/login" class="iconsedit">
      <span class="material-symbols-outlined"> login </span>
      <span> Login </span>
    </a>

    <a href="/" class="iconsedit" (click)="logout()">
      <span class="material-symbols-outlined"> logout </span>
      <span> Logout </span>
    </a>
  </div>
</mat-toolbar>
